.button {
    border-radius: 64px;
    transition: background-color, .3s ease-in-out;
    &:hover, &:focus {
        cursor: pointer;
    }
    &--transparent {
        background-color: transparent;
        border: 2px solid #162E3C;
        color: #162E3C;
        &:hover, &:focus {
            cursor: pointer;
            background-color: #DDF0A7;
        }
        &:active {
            background-color: #162E3C;
            color: #FFFFFF;
        }
    }
    &--navy {
        background-color: #162E3C;
        color: #FFFFFF;
        border: 2px solid #162E3C;
        &:hover, &:focus {
            cursor: pointer;
            background-color: #DDF0A7;
            color: #162E3C;
        }
        &:active {
            background-color: #162E3C;
            color: #FFFFFF;
        }
    }
}