@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,700&family=Space+Grotesk:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
* input {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

html, body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  border-radius: 64px;
  -webkit-transition: background-color, 0.3s ease-in-out;
  transition: background-color, 0.3s ease-in-out;
}
.button:hover, .button:focus {
  cursor: pointer;
}
.button--transparent {
  background-color: transparent;
  border: 2px solid #162E3C;
  color: #162E3C;
}
.button--transparent:hover, .button--transparent:focus {
  cursor: pointer;
  background-color: #DDF0A7;
}
.button--transparent:active {
  background-color: #162E3C;
  color: #FFFFFF;
}
.button--navy {
  background-color: #162E3C;
  color: #FFFFFF;
  border: 2px solid #162E3C;
}
.button--navy:hover, .button--navy:focus {
  cursor: pointer;
  background-color: #DDF0A7;
  color: #162E3C;
}
.button--navy:active {
  background-color: #162E3C;
  color: #FFFFFF;
}
.button--green {
  background-color: #DDF0A7;
  border: 2px solid #DDF0A7;
}
.button--green:hover, .button--green:focus {
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #162E3C;
}
.button--green:active {
  background-color: #DDF0A7;
  border: 2px solid #DDF0A7;
}

.ad {
  background-color: #DDF0A7;
}
.ad .container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ad__link:hover, .ad__link:focus {
  cursor: pointer;
  text-decoration: underline;
}
.ad__text {
  margin-left: 460px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #162E3C;
}
.ad__icon:hover path, .ad__icon:focus path {
  cursor: pointer;
  fill: #FFFFFF;
}

.header {
  background-color: #FFFFFF;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__logo--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-link:hover, .header__logo-link:focus {
  cursor: pointer;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.header__list-item {
  padding: 8px 22px;
  border-radius: 64px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #162E3C;
}
.header__list-item:hover, .header__list-item:focus {
  cursor: pointer;
  background-color: #DDF0A7;
}
.header__button--transparent {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #162E3C;
  padding: 8px 22px;
  margin-right: 8px;
}
.header__button--navy {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  padding: 8px 22px;
}
.header__list-link:hover, .header__list-link:focus {
  cursor: pointer;
}

.banner {
  background-color: #162E3C;
  position: relative;
}
.banner .container {
  padding: 100px 300px 470px;
}
.banner__bg-image--top-left {
  position: absolute;
  height: 250px;
  left: -0.5%;
  right: 87.01%;
  top: 100px;
}
.banner__bg-image--bottom-left {
  position: absolute;
  height: 275px;
  left: -0.17%;
  right: 81.94%;
  top: 518px;
}
.banner__bg-image--right {
  position: absolute;
  height: 240px;
  left: 88.19%;
  right: -6.25%;
  top: 260px;
}
.banner__main-title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.banner__text {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.banner__button {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #162E3C;
  padding: 10px 25px;
}
.banner__link {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
.banner__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}
.banner__socials--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.banner__socials-icon:hover path, .banner__socials-icon:focus path {
  cursor: pointer;
  fill: #DDF0A7;
}
.banner .material-icons {
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 13px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.video {
  position: relative;
  margin: 0 auto;
  width: 1280px;
}
.video .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 600px;
  width: 100%;
  padding: 0;
  background: url(./assets/images/video/video.png);
}
.video__button {
  font-family: "Space Grotesk", sans-serif;
  padding: 14px 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #162E3C;
}/*# sourceMappingURL=main.css.map */